* {
  background-color: antiquewhite;
}
body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid wheat;
  padding: 8px;
  text-align: left;
}

button {
  cursor: pointer;
}
